<div class="grid-container">
  <div class="item1">Tra Cứu Nguồn Gốc Sản Phẩm Thủy Sản</div>
  <div class="item2"><img src="/assets/resource/hd-3.jpg" alt="gioithieu"></div>
  <div class="item3">Tra cứu sản phẩm thủy sản dựa trên các giai đoạn đã được
    ghi lại.</div>
  <div class="item4" >
    <button class="btn waves-effect waves-light" name="action" routerLink="/product">Tra Cứu
      <i class="material-icons right">search</i>
    </button>
  </div>
</div>

<div class="grid-container-taisao">
  <div class="cauhoi">Tại sao cần phải truy xuất nguồn gốc?</div>
  <div class="tlcauhoi">Truy xuất nguồn gốc giúp cho người dùng có thêm thông
    tin về sản phẩm mà mình sử dụng. Đảm bảo an toàn
    cho người sử dụng sản phẩm cũng như dễ dàng quản lý.</div>
</div>


<div class="grid-container-giaidoan">
  <div class="giaidoan">Các Giai Đoạn Truy Xuất</div>
</div>

<div class="grid-container-nuoigiong">
  <div class="item1ng"><img src="assets/resource/cagiong.jpg" alt="nuoigiong"></div>
  <div class="item2ng">Giai Đoạn Nuôi Con Giống</div>
  <div class="item3ng">Cung cấp thông tin về thức ăn, thuốc kháng sinh, thời
    gian nuôi,...</div>
</div>

<div class="grid-container-nguyenlieu">
  <div class="item1nl">Giai Đoạn Nuôi Nguyên Liệu</div>
  <div class="item2nl"><img src="assets/resource/canguyenlieu.jpg"
                            alt="nuoinguyenlieu"></div>
  <div class="item3nl">Cung cấp thông tin về thức ăn, thuốc kháng sinh, thời
    gian nuôi,...đảm bảo thành phẩm giao cho nhà chế biến.</div>
</div>

<div class="grid-container-chebien">
  <div class="item1cb"><img src="assets/resource/chebien.jpg" alt="chebien"></div>
  <div class="item2cb">Giai Đoạn Chế Biến</div>
  <div class="item3cb">Cung cấp thông tin về cách thức chế biến, nhiệt độ tẩy
    rửa, nhiệt độ bảo quản,...</div>
</div>

<div class="grid-container-phanphoi">
  <div class="item1pp">Giai Đoạn Phân Phối</div>
  <div class="item2pp"><img src="assets/resource/phanphoi.jpg"
                            alt="phanphoi"></div>
  <div class="item3pp">Cung cấp thông tin về nơi phân phối, nhiệt độ bảo quản,
    người vận chuyển,...</div>
</div>

<div class="grid-container-banle">
  <div class="item1bl"><img src="assets/resource/banle.jpg" alt="banle"></div>
  <div class="item2bl">Giai Đoạn Bán Lẻ</div>
  <div class="item3bl">Cung cấp thông tin về lô hàng nhận, phân loại sản phẩm,
    địa điểm nhận hàng...</div>
</div>

<div class="grid-container-congnghe">
  <div class="congnghe">Công Nghệ Sử Dụng</div>
</div>

<div class="grid-container-blockchain">
  <div class="blockchain"><img src="assets/resource/blockchain.svg"
                               alt="blockchain"></div>
  <div class="title-blockchain"><a
    href="https://hyperledger-fabric.readthedocs.io/en/latest/getting_started.html"
    target="_blank">Hyperledger Fabric</a></div>
  <div class="des-blockchain">Công nghệ Blockchain riêng tư đảm bảo tính minh
    bạch trong truy xuất nguồn gốc.</div>
</div>


<div class="grid-container-frontend">
  <div class="angular"><img src="assets/resource/AngularJS-Shield.svg"
                            alt="angular"></div>
  <div class="title-angular"><a href="https://angular.io/start"
                                target="_blank">Angular Framework</a></div>
  <div class="des-angular">Công nghệ tạo ra ứng dụng mạnh mẽ, tốc độ nhanh.</div>
  <div class="nodejs"><img src="assets/resource/Node.js_logo.svg" alt="nodejs"></div>
  <div class="title-nodejs"><a href="https://nodejs.org/en/" target="_blank">Nodejs
    Platform</a></div>
  <div class="des-nodejs">Nền tảng phát triển mạnh mẽ, nhiều công cụ và cộng
    đồng hỗ trợ rộng lớn.</div>
</div>
