<div class="grid-container-cty">
  <div class="tencty">Công Ty TNHH Một Thành Viên LVFISH</div>
  <div class="mota">Chuyên quản lý thông tin về truy xuất nguồn gốc sản phẩm thủy sản và quảng cáo sản phẩm.</div>
</div>

<div class="grid-container-doitac">
  <div class="tendoitac">Mục Tiêu Đối Tác Trong Tương Lai</div>
  <div class="vinmart"><img src="assets/resource/vinmart.svg" alt="vinmart"></div>
  <div class="coopmart"><img src="assets/resource/coopmart.svg" alt="coopmart"></div>
  <div class="bigc"><img src="assets/resource/bigc.svg" alt="bigc"></div>
  <div class="lottevn"><img src="assets/resource/lottevn.svg" alt="lottevn"></div>
  <div class="circlek"><img src="assets/resource/Circle_K_logo_2016.svg" alt="circlek"></div>
</div>


<div class="grid-container-nhaphattrien">
  <div class="tennpt">Nhà Phát Triển</div>
</div>

<div class="grid-container-card">
  <div class="avatar"><img src="assets/resource/avatar.svg"
                           alt="card"></div>
  <div class="ten">Nguyễn Quang Nam</div>
  <div class="des">Web Developer
    <br> <br>
    <div><i style="font-size:24px" class="fa">&#xf082;</i>&nbsp; &nbsp;<a href="https://www.facebook.com/kampasite" target="_blank" rel="noopener noreferrer">https://www.facebook.com/kampasite</a> </div>
    <div><i style="font-size:24px" class="fa">&#xf09b;</i>&nbsp;&nbsp; <a href="https://www.github.com/tsukpa" target="_blank" rel="noopener noreferrer">https://www.github.com/tsukpa</a></div>
    <div><i style="font-size:24px" class="fa">&#xf0ac;</i>&nbsp;&nbsp;<a href="https://tsukpa.blogspot.com" target="_blank" rel="noopener noreferrer">https://tsukpa.blogspot.com</a></div>
  </div>
</div>
