<div class="container">
  <div class="title">
  <h4>Các giai đoạn truy xuất nguồn gốc đang thực hiện</h4>
  </div>

  <div class="stepper">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step label="Giai Đoạn Nuôi Con Giống" [editable]="false" [completed]="true"></mat-step>
    <mat-step label="Giai Đoạn Nuôi Nguyên Liệu" [editable]="false" [completed]="true"></mat-step>
    <mat-step label="Giai Đoạn Chế Biến" [editable]="false" [completed]="true"></mat-step>
    <mat-step label="Giai Đoạn Phân Phối" [editable]="false" [completed]="true"></mat-step>
    <mat-step label="Giai Đoạn Bán Lẻ" [editable]="false" [completed]="true"></mat-step>
    <mat-step label="Hoàn Tất" [editable]="false" [completed]="true"></mat-step>
  </mat-horizontal-stepper>
  </div>

  <div class="gd">
  <h4>Chi tiết giai đoạn chế biến</h4>
  </div>


</div>
<div class="container1">
  <div class="title">




    <mat-list role="list" *ngIf="phanphoi">
      <mat-list-item role="listitem" *ngIf="nl"><strong>Nguyên liệu:</strong> <span>{{nl.tennguyenlieu}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" *ngIf="cspp"><strong>Cơ sở phân phối:</strong> <span>{{cspp.tenCoSo}}</span></mat-list-item>
      <mat-divider></mat-divider>

      <br>
      <mat-accordion [multi]="true">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Thông tin nhận sản phẩm
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item role="listitem"><strong>Số lượng nhận (kg):</strong> <span>{{phanphoi.soluongnhan}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Thời gian nhận:</strong> <span>{{tgnhan}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Mã số lô nhận:</strong> <span>{{phanphoi.masolonhan}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Tên người nhận:</strong> <span>{{phanphoi.tennguoinhan}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Phân loại:</strong> <span>{{phanphoi.phanloai}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Địa điểm nhận:</strong> <span>{{phanphoi.diadiemnhan}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Mã sản phẩm:</strong> <span>{{phanphoi.masanpham}}</span></mat-list-item>
        </mat-expansion-panel>


        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Thông tin giao sản phẩm
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item role="listitem"><strong>Số lượng giao (thùng):</strong> <span>{{phanphoi.soluonggiao}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Thời gian giao:</strong> <span>{{tggiao}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Mã số lô giao:</strong> <span>{{phanphoi.masologiao}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><strong>Tên người giao:</strong> <span>{{phanphoi.tennguoigiao}}</span></mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem" *ngIf="pt"><strong>Phương tiện vận chuyển: </strong><span>{{pt.tenphuongtien}}</span></mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem" *ngIf="csn"><strong>Cơ sở bán lẻ:</strong> <span>{{csn.tenCoSo}}</span></mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>


    </mat-list>
  </div>
</div>
