::ng-deep .mat-horizontal-stepper-header-container {
  pointer-events: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.container > * {
  align-self: center;
}

h4 {
  text-transform: capitalize;
  text-align: center;
}

span {
  margin-left: auto;
}

.container1 {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
}

.title {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  padding: 0 100px 50px 100px;
}


@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-gap: 1px;
    margin-bottom: 0;
  }

  .container .title {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    padding: 0;
  }

  .container .stepper {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  .container .gd {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }

  .container .form {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    padding: 10px;
  }


  .container1 {
    grid-template-columns: 5% 45% 45% 5%;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .mat-list-base .mat-list-item {
    font-size: 14px;
  }

  .container1 .title {
    padding: 0;
    grid-column: 2 / span 2;
  }
}
