<div class="container">
  <div class="title">
    <h4>Các giai đoạn truy xuất nguồn gốc đang thực hiện</h4>
  </div>

  <div class="stepper">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step label="Giai Đoạn Nuôi Con Giống" [editable]="false" id="1"></mat-step>
      <mat-step label="Giai Đoạn Nuôi Nguyên Liệu" [editable]="false" id="2"></mat-step>
      <mat-step label="Giai Đoạn Chế Biến" [editable]="false" id="3"></mat-step>
      <mat-step label="Giai Đoạn Phân Phối" [editable]="false" id="4"></mat-step>
      <mat-step label="Giai Đoạn Bán Lẻ" [editable]="false" id="5"></mat-step>
      <mat-step label="Hoàn Tất" [editable]="false" id="6"></mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="gd">
    <h4>Giai đoạn nuôi giống</h4>
  </div>


  <mat-progress-spinner color="primary"
                        mode="indeterminate" *ngIf="isLoading">
  </mat-progress-spinner>

  <div class="form">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" class="myform" #ngForm="ngForm">
        <mat-label>ID: <strong>{{idNG}}</strong></mat-label>

        <table>
          <tr>
            <td>
              <div class="formgroup">
                <mat-form-field>
                  <mat-select placeholder="Ao" [(ngModel)]="ng.ao"
                              class="form-control" required
                              [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let a of ao" [value]="a.idAo">{{a.tenAo}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="formgroup">
                <mat-form-field>
                  <mat-select placeholder="Nguyên Liệu" [ngModel]="ng.nguyenlieu"
                              class="form-control" [disabled]="true"
                              [ngModelOptions]="{standalone: true}">
                    <mat-option *ngIf="nl" [value]="ng.nguyenlieu">{{nl.tennguyenlieu}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td>
              <div class="formgroup">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Ngày thả giống"
                         [(ngModel)]="ng.tgnuoi" class="form-control" required
                         [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </td>


            <td>
              <div class="formgroup">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Ngày xuất ao"
                         [(ngModel)]="ng.tgxuatao" class="form-control" required
                         [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td>
              <div class="formgroup">
                <mat-form-field>
                  <mat-select placeholder="Phương Tiện" [(ngModel)]="ng.phuongtien"
                              class="form-control" required [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let p of pt" [value]="p.idpt">{{p.tenphuongtien}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="formgroup">
                <mat-form-field>
                  <mat-select placeholder="Trang Trại Nhận" [(ngModel)]="ng.trangtrainhan"
                              class="form-control" required
                              [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let t of tt" [value]="t.idTrangTrai">{{t.tenTrangTrai}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
          </tr>
        </table>
        <div class="formgroup">
          <p>
            <mat-form-field>
              <input matInput type="number" placeholder="Số lượng xuất ao (kg)"
                     class="form-control" required
                     min="0" name="soluong" [(ngModel)]="ng.soluong">
            </mat-form-field>
          </p>
        </div>

        <div class="formgroup">
          <mat-form-field class="textarea">
          <textarea matInput placeholder="Mô tả" #message maxlength="256" class="form-control" required
                    [(ngModel)]="ng.mota" [ngModelOptions]="{standalone: true}"></textarea>
            <mat-hint align="start"><strong>Mô tả thông tin cơ bản về quy trình nuôi</strong></mat-hint>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
        </div>

        <button mat-raised-button type="submit" color="primary" class="btn"
                [disabled]="!ngForm.valid">Submit
        </button>
      </form>

    </div>
  </div>
</div>
