.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.container > * {
  align-self: center;
}

h4 {
  text-transform: capitalize;
  text-align: center;
}

.myform {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

table {
  width: 100%;
}

td {
  padding-right: 8px;
}

.textarea {
  width: 100%;
}

.btn {
  align-self: center;
  margin: 50px auto;
}
::ng-deep .mat-horizontal-stepper-header-container {
  pointer-events: none !important;
}

table {
  margin: 20px auto 20px auto;
}


@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-gap: 1px;
  }

  .container .title {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
  }

  .container .stepper {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  .container .gd {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }

  .container .form {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    padding: 10px;
  }

}
