<div class="grid-container-contact">
  <div class="tieudect">Liên Hệ Với Chúng Tôi</div>
  <div class="motact">Để thêm một sản phẩm thì người tham gia cần liên hệ với quản lý công ty để thêm thông tin về cơ sở sản xuất và các giai đoạn của sản phẩm.</div>
<!--  <div class="input">-->
<!--    <input class="input-contact" type="text" placeholder="Nhập email của bạn ví dụ nvanb@gmail.com">-->
<!--  </div>-->
<!--  <div class="send">-->
<!--    <button class="btn waves-effect waves-light" name="action">Liên hệ-->
<!--      <i class="material-icons right">send</i>-->
<!--    </button>-->
<!--  </div>-->
</div>

<div class="grid-container-contactdc">
  <div class="tt">
    <div class="sdt">0818111222</div>
    <div>Thứ 2 - Thứ 6</div>
    <div>8:00AM - 5:30PM</div>
    <div>contact@lvfish.com</div>
  </div>

  <div class="location1">
    <div style="font-weight: bold">Công Ty TNHH LVFISH Trụ sở chính</div>
    <div>1A Đường 30/4, Phường Xuân Khánh, Quận Ninh Kiều, Tp Cần Thơ.</div>
    <div>0818111222</div>

  </div>
  <div class="location2">
    <div style="font-weight: bold">Công Ty TNHH LVFISH Chi nhánh 1</div>
    <div>1A Đường Hùng Vương, Phường 1, Tp Vĩnh Long.</div>
    <div>0818111333</div>
  </div>
</div>
